<h1>Editing Digest Reporte Semanal</h1>

<%= render 'form', digest_reporte_semanal: @digest_reporte_semanal %>

<%= link_to 'Show', @digest_reporte_semanal %> |
<%= link_to 'Back', digest_reporte_semanals_path %>
