<h1>New Asistencia Reunion Evangelist</h1>

<%= render 'form', asistencia_reunion_evangelist: @asistencia_reunion_evangelist %>

<%= link_to 'Back', edit_asistencia_reunion_planificacion_path(@asistencia_reunion_planificacion_id) %>
