<h1>Editing Asistencia Reunion Planificacion</h1>

<%= render 'form', asistencia_reunion_planificacion: @asistencia_reunion_planificacion %>

<%= link_to 'Show', @asistencia_reunion_planificacion %> |
<%= link_to 'Back', asistencia_reunion_planificacions_path %>
