<h1>New Asistencia Reunion Planificacion</h1>

<%= render 'form', asistencia_reunion_planificacion: @asistencia_reunion_planificacion %>
<%#
<%= link_to 'Next', { :controller => 'asistencia_reunion_evangelists', :action => 'new', :asistencia_reunion_planificacion_id => @asistencia_reunion_planificacion.id } %>
